client-ui/public/3Dmodels/world/shipping_containers.glb
client-ui/public/3Dmodels/ships/cargo_ship_07.glb
client-ui/public/3Dmodels/world/shipping_containers.glb
client-ui/public/3Dmodels/ships/cargo_ship_07.glb
