# VS Code / JetBrains
*.idea/
*.vscode/

# Build
bin/
obj/
Migrations/
publish/

#Https
http/

# Logs
SEM5-PI-WEBAPI/Logs

# SQLite database
identifier.sqlite
identifier.sqlite-shm
identifier.sqlite-wal

SEM5-PI-WEBAPI.sln.DotSettings.user