# VS Code / JetBrains
*.idea/
*.vscode/

# Build
bin/
obj/
Migrations/
publish/
.github/workflows/sync.yml

#Https
http/

# Logs
SEM5-PI-WEBAPI/Logs

# SQLite database
identifier.sqlite
identifier.sqlite-shm
identifier.sqlite-wal

SEM5-PI-WEBAPI.sln.DotSettings.user

sem5-pi-operations_execution/.env
node_modules
dist
