.pageContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: black;
}

/* Vídeo de fundo */
.backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loginButton {
    position: absolute;
    top: 80px;
    right: 40px;

    padding: 18px 55px;
    font-size: 1.8rem;
    font-weight: 700;

    background: linear-gradient(
            135deg,
            rgba(26, 115, 232, 0.75),
            rgba(79, 172, 254, 0.75)
    );

    color: white;

    border-radius: 10px;
    border: none;

    cursor: pointer;
    z-index: 10;

    box-shadow: 0 6px 15px rgba(26, 115, 232, 0.25);

    animation: fadeIn 0.6s ease-out forwards;
    transition: all 0.25s ease;

    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Hover */
.loginButton:hover {
    background: linear-gradient(
            135deg,
            rgba(79, 172, 254, 0.9),
            rgba(26, 115, 232, 0.9)
    );

    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(26, 115, 232, 0.4);
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}