name: .NET Backend Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  build-webapi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore ./SEM5-PI-WEBAPI/

      - name: Build WEBAPI
        run: dotnet build ./SEM5-PI-WEBAPI/ --no-restore --configuration Release

      - name: Run Unit Tests
        run: dotnet test ./SEM5-PI-WEBAPI/ --no-build --verbosity normal --configuration Release --logger "trx;LogFileName=test-results-webapi.trx"

  build-scheduling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore ./SEM5-PI-PlanningScheduling/

      - name: Build Scheduling API
        run: dotnet build ./SEM5-PI-PlanningScheduling/ --no-restore --configuration Release

      - name: Run Unit Tests
        run: dotnet test ./SEM5-PI-PlanningScheduling/ --no-build --verbosity normal --configuration Release --logger "trx;LogFileName=test-results-scheduling.trx"