name: Sincronizar para Perfil Pessoal

on:
  push:
    branches:
      - main 

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Mirror para o meu perfil
        run: |    
          REMOTE_URL="https://x-access-token:${{ secrets.MINHA_CHAVE_PESSOAL }}@github.com/FranciscoMofreitaSantos/PortLogistics.git"
          
          git push --force --prune $REMOTE_URL "refs/remotes/origin/*:refs/heads/*"
